<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="vertical-align: middle">
  <ion-img 
    class="ion-padding-vertical"
    src="assets/bot.png"
    style="height: 35vh"
  ></ion-img>
  <ion-list class="ion-padding">
    <ion-item lines="inset">
      <ion-label color="primary" position="floating">Email ID</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="user.email"
        autocorrect="on"
        autofocus="on"
        clearInput="true"
        clearOnEdit="true"
        color="primary"
        inputmode="text"
        required="true"
        name="email"
      ></ion-input>
      <ion-icon
        size="large"
        class="ion-align-self-center"
        name="person"
        color="primary"
        slot="start"
      ></ion-icon>
    </ion-item>

    <ion-item lines="inset">
      <ion-label color="primary" position="floating">Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="user.password"
        autocorrect="on"
        autofocus="on"
        clearInput="true"
        clearOnEdit="true"
        color="primary"
        inputmode="text"
        required="true"
      ></ion-input>
      <ion-icon
        size="large"
        class="ion-align-self-center"
        name="key"
        color="primary"
        slot="start"
      ></ion-icon>
    </ion-item>
    <ion-item>
      <ion-button (click)="login()" class="ion-text-center">
        <ion-text class="signIn">Sign In</ion-text>
      </ion-button>
      <ion-button (click)="register()" class="ion-text-center">
        <ion-text class="signIn">Register</ion-text>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>